.jumbotron{
	background-color: #246aaf ;
	color: white;
}
.btn{
	background-color:  #3e89d3  ;
	border-color: white;
	color: white;

}
.btn:hover{
	background-color:  	#66a4e3 ;
	border-color: white;


}
footer{
	padding: 10px 10px 20px 10px;
	background-color:  #246aaf ;
	margin-bottom: 0px;
	margin-top: 40px;
	color: white;
}
.card-cancha{
	flex: 1 150px;
	padding: 2px 5px 2px 5px;
	margin-top: 10px;
}
.btn-adquirir{
	width: 100%;
}
a{
	color: white;
	text-decoration: underline;
}